.neoButton {
  background-color: #EA3788;
  color: #FEFEFE; /* White */
  cursor: pointer;

  padding: 12px 64px;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Hover & Active states */
  &:hover {
    background-color: #fd4799;
  }

  composes: roundedBorder boxShadow activeHideShadow formFontFamily formFontSize from "css/utils.module.css";
}