.waitlist {
    display: grid;
    row-gap: 3.2rem;
}

.waitlist > * {
    grid-column: 1;
}

@media only screen and (min-width: 768px) {
    .waitlist {
        grid-template-columns: 1fr 1fr;
    }
    .waitlist > * {
        grid-column: 2;
    }

    .waitlist > img {
        transform: rotate(45deg);
        grid-column: 1;
        grid-row: 1 / span 2;
    }
}