@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-main-color: #EA3788;
  --primary-light-color: #fd4799;
  --text-light-color: #FEFEFE;
  --text-dark-color: #2D313B;
  --text-dark-color-2: #2D313B40;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}